<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KadınKuaforu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KadınKuaforu.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b class="text-light">Kadın Kuaförü</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana sayfa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Randevu al
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Meetings" asp-action="Index" asp-route-name="KuaforElemani">Kuaför Randevusu</a></li>
                                <li><a class="dropdown-item" asp-controller="Meetings" asp-action="Index" asp-route-name="GuzellikElemani">Güzellik Randevusu</a></li>
                                <li><a class="dropdown-item" asp-controller="Meetings" asp-action="Index" asp-route-name="BakimElemani">Bakım Randevusu</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Yapay Zeka
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Generator" asp-action="Index">Sorgu oluştur</a></li>
                                <li><a class="dropdown-item" asp-controller="Generator" asp-action="Results">Sonuçları gör</a></li>
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if(User.IsInRole("Admin")){
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Panel" asp-controller="Company" asp-action="Index">Panel</a>
                                </li>
                            }
                            if (User.IsInRole("KuaforElemani") || User.IsInRole("BakimElemani") || User.IsInRole("GuzellikElemani"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Personnels" asp-action="Index">Personel Sistemi</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Sign" asp-action="Out">Çıkış yap</a>
                            </li>
                        }else{
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Sign" asp-action="In">Giriş yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Sign" asp-action="Up">Kayıt ol</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Kadın Kuaförü
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
